@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: "#FBFEF9";
        --primary: "#82D642";
        --secondary: "#63BCDC";
        --accent: "#8BE5D6";
        --textcolor: "#122007";
    }
}