@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
   /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
  }
}

@layer base {
    :root {
        --background: "#FBFEF9";
        --primary: "#82D642";
        --secondary: "#63BCDC";
        --accent: "#8BE5D6";
        --textcolor: "#122007";
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}